<html>
    <head>
        <title>ToDo App</title>
        <style>
            .hidden{
                display: none;
            }
            li{
                list-style-type: none;
                width: 200px;
                clear:both;
            
            }
            li button{
                -webkit-appearance: none;
                border: none;
                color: red;
                outline: none;
                float:right;
                background: white;
                cursor: pointer;
                font-size: 22;
            }
            .inline-wrap{
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <!-- common convention of creating the action url using our resource that is todos table and what we are doing on it -->
        <form id="form">
            <input type="text" id="description" name="description">
            <input type="submit" value="create">
        </form>
        <div id="error" class="hidden">Something Went Wrong!</div>
        <div id="listoftoods" class="inline-wrap">
            <ul>
                {% for list in lists %}
                <li><a href="/lists/{{ list.id }}"> {{ list.name }} </a> </li>
                {% endfor %}
            </ul>
        </div>
        <div class="inline-wrap">
            <h4>{{ active_list.name }}</h4>
            <ul id="todos" >
                {% for d in todos %}
                <li>
                    <input type="checkbox" data-id="{{ d.id }}" class="check-completed" {% if d.completed %} checked {% endif %}/> 
                    {{ d.description }} 
                    <button data-id="{{ d.id }}" class="delete-button">&cross;</button>
                </li>
                {% endfor %}
            </ul>
        </div>
    <script> 
        const deletebuttons= document.querySelectorAll(".delete-button");
        const checkboxes= document.querySelectorAll(".check-completed");
        for (let i=0 ;i<checkboxes.length;i++){
            const deletebtn=deletebuttons[i];
            deletebtn.onclick= function(e){
                console.log(e.target);
                let id1=e.target.dataset['id'];
                console.log(id1);
                fetch('/todos/'+ id1 +'/delete-button',{
                    method:'DELETE'
                }).then(function() {
                    document.getElementById('error').className = 'hidden';
                    // check for other way to implement this request without refreshing the thing
                    // maybe i can do display none for this rn
                    window.location="http://localhost:5000";
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                });
            };

            const checkbox= checkboxes[i];
            // On change of the state only this will get triggerred and set the newcompleted variable
            checkbox.onchange = function(e){
                console.log(e.target); //displays the element on which the event gets triggered
                const newcompleted= e.target.checked;   //now storing the current value may be true/false
                const todoId= e.target.dataset['id'];   //now fetching the data-id to identify the item for sending to the specific url
                fetch('/todos/'+ todoId +'/check-completed',{
                    method:"POST",
                    body:JSON.stringify({
                        "completed":newcompleted    //will be either true/false
                    }),
                    headers:{
                        "Content-Type":'application/json'
                    }
                })
                .then(function() {
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                });
            }
        }


        //Data fetched here is empty so it won't store any value better fetch it once the data is submitted
        //  let descrip=document.getElementById('descr').value;
        document.getElementById('form').onsubmit= function(e){
            e.preventDefault();
            let descrip=document.getElementById('description').value;
            fetch('/todos/create',{
                method:"POST",
                body:JSON.stringify({
                    'description':descrip
                }),
                headers:{
                    'Content-Type':'application/json'
                }
            })
            //Getting the response back from the server
            .then( function(response){
                return response.json();
            })
            // Extracting the json response
            .then(function(jsonResponse){
                console.log(jsonResponse);
  
                // Also, try to implement a checkbox for it

                let liElement=document.createElement('LI');
                liElement.innerHTML=jsonResponse['description'];
                document.getElementById('todos').appendChild(liElement);
  
                //document.getElementById('error').classList.remove('hidden');
                document.getElementById("error").className="hidden";
            })
            .catch(function(){
                document.getElementById("error").className="";
            })
        };
    </script>
    </body>
</html>
